<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS" value="./application_logs"/>
    <property name="LOGS_ERROR" value="./application_logs_error"/>
    <property name="LOGS_WARNING" value="./application_logs_warn"/>

    <springProperty
            name="chatId"
            source="telegram.bot.chatID"
            scope="context"
    />
    <springProperty
            name="token"
            source="telegram.bot.token"
            scope="context"
    />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %green(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%-100.100C): %msg%n%throwable
            </Pattern>
        </encoder>
    </appender>

    <appender name="InfoRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/spring-boot-logger.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %100.100C [%t] %m%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOGS}/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxFileSize>1GB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="ErrorRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_ERROR}/spring-boot-logger.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %50.50C [%t] %m%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_ERROR}/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>1GB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

    </appender>

    <appender name="WarnRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_WARNING}/spring-boot-logger.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %100.100C [%t] %m%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_WARNING}/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>1GB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender
            name="TelegramBotAppender"
            class="uz.pdp.log.ErrorLogger">

        <botToken>${token}</botToken>
        <chatID>${chatId}</chatID>

    </appender>

    <root level="info">
        <appender-ref ref="InfoRollingFile"/>
        <appender-ref ref="Console"/>
    </root>

    <logger name="uz.pdp" level="warn" additivity="false">
        <appender-ref ref="ErrorRollingFile"/>
        <appender-ref ref="TelegramBotAppender"/>
        <appender-ref ref="WarnRollingFile"/>

    </logger>

</configuration>

